!!!
%html{:lang => "en"}
  %head
    %title pvcitizenscience.org
    %meta{:charset => 'utf-8'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name => "Pvcitizenscience", :content => "pvcitizenscience"}
    %meta{:name => "PvcitizensciencePvcitizenscience", :content => "Pvcitizenscience Research"}
    %link{:rel => 'apple-touch-icon', :href => "#{image_path('apple-touch-icon.png')}"}
    %link{:href => "../bower_components/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../bower_components/bootstrap/dist/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../css/styles.css", :rel => "stylesheet"}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %script{:src => "../bower_components/jquery/dist/jquery.min.js", :type => "text/javascript"}
    %script{:src => "../bower_components/bootstrap/dist/js/bootstrap.min.js", :type => "text/javascript"}
    / %script{:src => "js/app.js", :type => "text/javascript"}

    = render 'layouts/open_graph'
    = chartbeat_head_block
    = include_mixpanel

    = include_base_css_framework(@css_framework)
    - if @css_framework == :bootstrap && !@include_application_css
      = stylesheet_link_tag :default, 'new-templates', :media => 'all'
    - else
      = stylesheet_link_tag 'application', 'default'

    - if rtl?
      = stylesheet_link_tag :rtl, :media => 'all'

    = old_browser_js_support
    <!--[if IE]>
    = javascript_include_tag :ie
    <![endif]-->

    = jquery_include_tag

    - unless @landing_page
      = javascript_include_tag :main, :templates
      = load_javascript_locales

    = translation_missing_warnings
    = current_user_atom_tag

    = yield(:head)
    = csrf_meta_tag


    = include_gon(:camel_case => true)
    / %meta{:charset => "UTF-8"}/
    / %title Pioneer Valley Citizen Science Collaboratory
    / %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / %link{:href => "../bower_components/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    / %link{:href => "../bower_components/bootstrap/dist/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "../css/styles.css", :rel => "stylesheet"}/
    / %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / %script{:src => "../bower_components/jquery/dist/jquery.min.js", :type => "text/javascript"}
    / %script{:src => "../bower_components/bootstrap/dist/js/bootstrap.min.js", :type => "text/javascript"}
    / %script{:src => "js/app.js", :type => "text/javascript"}
    :css
      body {
        / margin-top: 50px;
        background-color: white;
        background-image : none;
      }
      li {
        list-style: none;
      }
      footer h3 {
        margin-bottom: 25px;
        text-align: center;
      }
      footer {
        margin-bottom: 12px;
        padding: 42px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      / header {
      /   /* Hack to hide the header */
      /   -webkit-box-shadow:none;
      /   -moz-box-shadow:none;
      /   box-shadow:none;
      /   border:none;
      /   background:none;
      /   left: 0px;
      /   padding: 0px 0px;
      / }
      / header img {
      /   margin-left: 15px;
      / }
      login-link {
        float: right;
        margin-right: 15px;
      }
      steps {
        text-align: center;
      }
      banner {
        border-bottom : 1px solid #ccc;
        border-top : 1px solid #eee;
        padding : 30px;
        margin-top: 20px;
        text-align: center;
        -webkit-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
        -moz-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
        -khtml-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
        -o-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
        -ms-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
        box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
      }
      links {
        margin: 0;
        padding: 0;
        text-align: center;
      }
      links .section {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        width: 24%;
        max-width: 24%;
      }
      change-page {
        color: #999;
        text-align: center;
        font-style: italic;
      }
      .helpful {
        cursor: help;
      }
      .row {
        margin-bottom: 60px;
      }
  %body{ :class => "page-#{controller_name} action-#{action_name}" }
    = flash_messages
    / = render partial: 'layouts/topheader'
    = yield :before_content

    / - if content_for?(:container_content)
    /   = render partial: 'layouts/topheader'
    / - else
    /   = content_for?(:content) ? yield(:content) : yield
    #top.jumbotron
      .container
        %h1
          %a{:href => "#top"}
            Pioneer Valley
            %br>/
            Citizen Science Collaboratory
        %ul.nav.nav-pills
          %li
            %a.navbar-btn{:href => "stream"} Members
          %li
            %a.navbar-btn{:href => "#environment"} Environmental Issues in PV
          %li
            %a.navbar-btn{:href => "#projects"} Citizen Science Projects
          %li
            %a.navbar-btn{:href => "#about"} About PVCS
    / Sign Up Or Sign In
    /
      <section class="container-fluid" id="login">
      <form role="form">
      <div class="col-xs-12 col-sm-6">
      <h2 class="users">New Citizen Scientists</h2>
      <button type="submit" class="btn btn-primary"><a href= "stream">Join PVCS</a></button>
      </div>
      <div class="col-xs-12 col-sm-6">
      <h2 class="users">Existing Citizen Scientists</h2>
      <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="email address">
      </div>
      <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
      </form>
      </section>
    / Environmental Issues in the Pioneer Valley
    %section#environment.container-fluid
      %h2 Environmental Issues in the Pioneer Valley
      .row.issues
        .col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-2
          %a.thumbnail{"data-target" => "#biodiversity-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Biodiversity Icon", :src => "/images/issue_biodiversity.png"}/
            %h3.caption.text-center Biodiversity
        .col-xs-8.col-xs-offset-2.col-sm-2
          %a.thumbnail{"data-target" => "#climate-change-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Climate Change Icon", :src => "/images/issue_climatechange.png"}/
            %h3.caption.text-center Climate Change
        .col-xs-8.col-xs-offset-2.col-sm-2
          %a.thumbnail{"data-target" => "#invasive-species-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Invasive Species Icon", :src => "/images/issue_invasivespecies.png"}/
            %h3.caption.text-center Invasive Species
        .col-xs-8.col-xs-offset-2.col-sm-2
          %a.thumbnail{"data-target" => "#habitat-loss-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Habitat Loss Icon", :src => "/images/issue_habitatloss.png"}/
            %h3.caption.text-center Habitat Loss
    / Modals
    / Biodiversity
    #biodiversity-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "biodiversity-icon", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#biodiversity-title.modal-title Biodiversity
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Biodiversity Icon", :src => "/images/modal_biodiversity.png"}/
            .col-md-8
              %p Biodiversity is the issue that ties the rest of the environmental issues listed here together. It is, broadly defined, the huge and almost incomprehensible variety of different species that inhabit the world. Biodiversity is being threatened, though, by human activity—from habitat loss, from climate change, and from introduction of invasive species. And when we lose genetic diversity in the world, we are not only losing species that don't affect us—we're losing valuable natural resources that sustain us, as well, including food sources, origins for medical drugs, and bases for jobs and livelihoods.
              %p
                Click
                %a{:href => "http://www.mass.gov/eea/agencies/dfg/dfw/natural-heritage/species-information-and-conservation/mesa-list/list-of-rare-species-in-massachusetts.html", :target => "_blank"} here
                for a list of endangered, threatened, and other special conservation interest species in Massachusetts.
    / Climate Change
    #climate-change-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "climate-change-icon", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#climate-change-title.modal-title Climate Change
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Climate Change Icon", :src => "/images/modal_climate.png"}/
            .col-md-8
              %p
                Climate change is a global problem, but it is already starting to have tangible and direct effects on the Pioneer Valley. Among the projected effects of climate change are more frequent severe weather events, three of which occurred in 2011 alone: a series of tornados in the Springfield area on June 1
                %sup> st
                , flooding from Tropical Storm Irene on August 28-29
                %sup> th
                , and an early snowstorm on October 30
                %sup> th
                \. A record-breaking heat wave also swept across the entire United States in July 2012.
              %p In addition to an average temperature increase of 3-5 degrees F by 2050 at current greenhouse gas emission levels, it is expected that by the end of the century there will be anywhere from 30 to 60 days of extreme heat (over 90 degrees) in comparison with the 5 to 20 at current levels. Precipitation levels will also fluctuate much more extremely—while there are expected to be instances of extreme flooding once every 2-3 years, and a general increase in precipitation during winter months, Massachusetts will also have a 75% increase in drought events which will last from 1-3 months.
              %p All of these changes raise significant risks to other environmental factors. Temperature increases alone may force wildlife to migrate to the cooler places that they are better suited to survive, but increased flooding events may destroy habitats entirely. Flooding is particularly dangerous due to sewage disposal infrastructure  demonstrated vulnerabilities; during Tropical Storm Irene, raw sewage was discharged to the Connecticut River for several days when flood waters knocked the Greenfield wastewater facility offline.
    / Invasive Species
    #invasive-species-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invasive-species-icon", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#invasive-title.modal-title Invasive Species
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Invasive Species Icon", :src => "/images/modal_invasive.png"}/
            .col-md-8
              %p Invasive species represent a significant threat to local wildlife, displacing and leading to habitat loss for native flora and fauna. In extreme cases, they can even change characteristics of the ecosystem itself. Native species are usually introduced unintentionally by human activity, managing to survive in transit from their original native environment. After they establish themselves in the new environment, there is often a lag period before they begin to reproduce and spread more rapidly.
              %p There are a wide variety of invasive species which have had an impact on the Pioneer Valley.  One of the most notorious among them, the gypsy moth, was introduced to Massachusetts in the 1860s, and since then has spread through the northeastern United States.  Gypsy moth caterpillars defoliate oaks and other hardwood trees, causing extensive damage or even killing their host trees.
    / Habitat Loss
    #habitat-loss-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "habitat-loss-icon", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#habitat-loss-title.modal-title Habitat Loss
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Habitat Loss Icon", :src => "/images/modal_habitat.png"}/
            .col-xs-12.col-sm-8
              %p
                Habitat loss is a major threat to biodiversity both in the Pioneer Valley and the wider world. Human activity is usually the cause of habitat loss, either directly through agriculture, land and water development, or indirectly through climate change
                %span.text-danger (link to the climate change page)
                or introduction of invasive species
                = succeed "." do
                  %span.text-danger (link to the invasive species page)
              %p
                The Connecticut River flows through the Pioneer Valley, and is home to a variety of aquatic species. However, human infrastructure in the form of dams and culverts has changed the natural flow regime and chemistry of the river, which has concerning implications for its ecology. There are 1,422 dams in MA and CT alone, which averages 1 dam per 6.6 km of river, in addition to 2,885 culverts in the Valley. The alterations to the rivers flow regime restrict access to quality habitat for one or more life stages of various species, such as the ability for
                %span{:title => "fish which spend most of their life in seawater, but lay their eggs in freshwater"}> anadromous fish
                to reach preferred freshwater spawning habitats from the sea, as well as blocking access to thermal refuges for brook trout populations. In addition, pollution and wastewater runoff from flooding and stormwaters in urban areas also contribute to making the Connecticut River unsuitable for habitation.
              %p
                Urban sprawl represents another threat to habitat loss, as natural environments are replaced with man-made buildings and roads. Neighborhood Nestwatch seeks to learn more about how habitat loss in the form of increasing urban sprawl impacts bird nesting habits. To learn more, click
                %a{:href => "http://pvcitizenscience.org/projects/salamander-watch/"} here
                to get involved in Neighborhood Nestwatch.
              %p
                To learn more about how habitat loss affects salamanders, click
                %a{:href => "http://pvcitizenscience.org/projects/salamander-watch/"} here
                to get involved in Salamander Watch.
    / Citizen Science Projects
    %section#projects.container-fluid
      %h2 Citizen Science Projects
      .row
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "Leaves on a branch", :src => "/images/icon_leafdrop.png"}/
          %h3 Leaf Drop
          %p The Leaf Drop project, adapted from an existing Forest Schoolyard Ecology Buds, Leaves, and Global Warming project, takes place in the Fall. In this multi week project Citizen Scientists record the changes in leaf color of trees to gain an understanding of the end of growing season in their local context.
          %a.btn.btn-primary{:href => "/leaf-drop-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "Image of buds on a tree", :src => "/images/icon_budburst.png"}/
          %h3 Bud Burst
          %p The Bud Burst project is a national citizen science project that seeks to learn more about how plants respond to changes in climate locally, regionally, and nationally. Participants report on appearances of plants, either tracking the progress of a single plant over the course of a year or once.
          %a.btn.btn-primary{:href => "/bud-burst-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "Spotted salamander", :src => "/images/icon_salamanderwatch.png"}/
          %h3 Salamander Watch
          %p Salamander Watch is a collaboration between Hampshire College and The Hitchcock Center for the Environment in Amherst, MA. This project involves both the “Big Night”, a counting of spotted salamanders during the early spring mating migration, and the Egg Mass Count, which is used to get a better estimate of the breeding success and overall health of the population.
          %a.btn.btn-primary{:href => "/salamander-watch-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
      .row.top-buffer
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "Nest containing three eggs", :src => "/images/icon_nestwatch.png"}/
          %h3 Neighborhood Nestwatch
          %p Modeled after a Smithsonian project in the Washington, D.C. area, Neighborhood Nestwatch engages citizen scientists from Western Massachusetts in gathering data to discover how urban sprawl impacts songbird populations. Assisted by scientists, participants learn how to locate nests in their backyards and count the eggs or recently-hatched birds within. In addition, the experts apply bands to adult birds so that the citizen scientists can track the birds' year-to-year returns to their nesting sites.
          %a.btn.btn-primary{:href => "/neighbourhood-nestwatch-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "A firefly in a hand", :src => "/images/icon_firefly.png"}/
          %h3 Firefly Watch
          %p The Boston Museum of Sciences Firefly Watch project seeks to learn more about the geographic distribution and activities of fireflies during the summer. It also seeks to discover more about the effects of man-made light and pesticides on fireflies. Participants go out into their backyards or nearby fields one night a week and fill out an observation sheet with information on the weather conditions that night and the behavior of the fireflies that they see.
          %a.btn.btn-primary{:href => "/firefly-watch-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
        .col-xs-12.col-sm-4.top-buffer
          .thumbnail
            %img.img-responsive{:alt => "A monarch butterfly", :src => "/images/icon_monarch.png"}/
          %h3 Monarch Butterflies
          %p Monarch Butterflies Watch project engages citizen scientists in collecting data on Monarch butterflies in the Fall as they migrate to Mexico.  Future iterations of this project may involve tracking Monarch's migration from Mexico..
          %a.btn.btn-primary{:href => "/monarch-butterflies-static.html", :role => "button"} Learn More
          %a.btn.btn-primary{:href => "#", :role => "button"} Launch App
    / About PVCS
    %section#about.container-fluid
      %h2 About Pioneer Valley Citizen Science
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
                What is the Pioneer Valley Citizen Science Collaboratory?
          #collapseOne.panel-collapse.collapse
            .panel-body
              PVCS is a tool to help people in the Pioneer Valley who are interested in science get involved in local projects and connect with other citizen scientists.
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
                Where do scientists work?
          #collapseTwo.panel-collapse.collapse
            .panel-body
              Science is all around us. Some scientists do research while sipping lattes at their local coffee shop.
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseThFour", "data-toggle" => "collapse"}
                How does science affect me and my community?
          #collapseThFour.panel-collapse.collapse
            .panel-body.text-danger
              Fingerstache blog shabby chic occupy VHS mlkshk bitters ennui. Pop-up Williamsburg wolf, 90 s Cosby sweater fashion axe paleo bitters Tumblr jean shorts normcore salvia beard Odd Future fingerstache. Kogi Tonx put a bird on it, letterpress sriracha YOLO church-key Pinterest +1 8-bit iPhone.
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseFour", "data-toggle" => "collapse"}
                Who can be involved in scientific research?
          #collapseFour.panel-collapse.collapse
            .panel-body
              To be involved in scientific research you dont need a long white lab coat, giant microscopes, or a PHD in chemistry. In fact, you may not even need to leave your yard. Anyone can be involved in scientific research through citizen science.
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseFive", "data-toggle" => "collapse"}
                What is citizen science?
          #collapseFive.panel-collapse.collapse
            .panel-body.text-danger
              Citizen Science occurs when regular citizens get involved in science.
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span
              %a{"data-parent" => "#accordion", "data-target" => "#collapseSix", "data-toggle" => "collapse"}
                How can I get involved?
          #collapseSix.panel-collapse.collapse
            .panel-body
              JOIN PVCS today!
              %a.join-now{:href => "#login"} Join Now
    / About the Team
    %section#about-team.container-fluid
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %span
            %a{"data-parent" => "#accordion", "data-target" => "#collapseSeven", "data-toggle" => "collapse"}
              Who are the organizing members of the PVCS team?
        #collapseSeven.panel-collapse.collapse
          .panel-body
            %h3 Hampshire College Team
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Tim Zimmerman", :src => "/images/people/tim-profile.png"}/
              .col-md-10
                %h4 Tim Zimmerman
                %p
                  Tim Zimmerman is a Visiting Assistant Professor of Cognition and Education in the School of Cognitive Sciences at
                  = succeed "." do
                    %a{:href => "https://www.hampshire.edu/", :target => "_blank"} Hampshire College
                  %a{:href => "http://informalscience.org/", :target => "_blank"} informal
                  (outdoor, aquarium, museums, field trips, etc.) contexts, the use of science knowledge for environmental decision-making.  His work often involves the design and use of Internet-connected, wired and mobile devices as learning tools.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Jonathan Gardner", :src => "/images/people/placeholder_male_superhero.png"}/
              .col-md-10
                %h4 Jonathan Gardner
                %p Jonathan Gardner is a student at Hampshire College studying the ways in which digital technologies have changed and will continue to change how people learn and think about learning.  His specific interests include leveraging games and game design for learning purposes, the Internet’s potential for promoting scientific literacy, and the effects of a digital media saturated world on cognition.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Chelsea LaValley", :src => "/images/people/placeholder_female_superhero.png"}/
              .col-md-10
                %h4 Chelsea LaValley
                %p Chelsea LaValley is a Hampshire College student studying education, psychology and emotion studies. She specifically is interested in social-emotional learning in education. Her concentration involves finding a correlation between SEL and academic achievement; to promote mental health services in the United States public education system. She is originally from Taos, New Mexico and will graduate from Hampshire in the spring of 2015!
            %h3 University of Toronto Team
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Jim Slotta", :src => "/images/people/jim-slotta-profile.jpg"}/
              .col-md-10
                %h4 Jim Slotta
                %p Jim Slotta is an associate professor of education in the Ontario Institute for Studies in Education (OISE) at The University of Toronto, where he holds the Canada Research Chair in Education and Technology.  In 2006, he established the ENCORE lab, a team of talented students, designers and developers who investigate collaborative inquiry learning in formal (K-12) and informal (home, field and museum) settings. In collaboration with researchers from Oslo, Chicago and Berkeley, Slotta and his team have developed the Scalable Architecture for Interactive Learning (SAIL), as well as a framework for smart classroom research called SAIL Smart Space.  Recent funded projects have examined the use of embedded phenomena in elementary classrooms, distributed and ubiquitous learning in high school physics, and an immersive rainforest simulation for high school biology.  Together, these projects have advanced a theoretical model known as Knowledge Community and Inquiry (KCI).  Professor Slotta and his team have published their work widely, as seen in the publications section of this site.  Taken together, this work examines how K-12 students can become a knowledge community, supported by technology, that enables inclusive participation and promotes the growth of ideas.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Alisa Acosta", :src => "/images/people/alisa-acosta-profile.jpg"}/
              .col-md-10
                %h4 Alisa Acosta
                %p Alisa Acosta is a PhD student with the Encore Lab, bringing her experiences as an environmental scientist/field researcher, secondary science educator, and graphics designer to this project.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Hedieh Najafi", :src => "/images/people/hedieh-profile.png"}/
              .col-md-10
                %h4 Hedieh Najafi
                %p Hedieh Najafi is a researcher at the Encore lab and contributes to conceptualizing an integrated research component of the PVCS Collaboratory.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Mike Tissenbaum", :src => "/images/people/mike-tissenbaum.jpg"}/
              .col-md-10
                %h4 Mike Tissembaum
                %p Mike Tissenbaum is a PhD candidate in Curriculum Teaching and Learning (CTL) department at the Ontario Institute for Studies in Education (OISE)/The University of Toronto. Mike received my Master’s from the Faculty of Information (iSchool) at the University of Toronto and am also a graduate of their Knowledge Media Design Institute collaborative program.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Thomas Berry", :src => "/images/people/thomas-berry-profile.jpg"}/
              .col-md-10
                %h4 Thomas Berry
                %p Thomas Berry is a web developer currently working at Encore Lab at the University of Toronto. He works on a variety of projects for researchers using many different tools, libraries and frameworks (node, backbone, jquery, underscore, ruby-on-rails, css3/sass, etc). I primarily write code, but increasingly he is gaining experience with project management and product design.
                %p Thomas holds a bachelors of arts in History and Geography from Brock University and a Master of Information Science from the University of Toronto. in 2013 graduated from Bitmaker Labs web development bootcamp and HackerYou s response web development course in 2013
            %h3 University of Colorado, Denver Team
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Tam Vu", :src => "/images/people/tam-profile.png"}/
              .col-md-10
                %h4 Tam Vu
                %p Dr. Tam Vu is an Assistant Professor of Computer Science at the University of Colorado, Denver where his teaching and research focus on the design and use of networked mobile technology.
            .row
              .col-md-2
                .thumbnail
                  %img.img-circle.img-responsive{:alt => "Profile shot of Phuc Nguyen", :src => "/images/people/phuc-nguyen.jpg"}/
              .col-md-10
                %h4 Phuc Nguyen
                %p Phuc Nguyen is a Ph.D. student in the Department of Computer Science, University of Colorado, Denver. His research interests include wired/wireless networking and mobile computing.
            %h3 Our Partners
            .col-md-12
              %ul.list-unstyled
                %li
                  %h4
                    %a{:href => "http://www.hitchcockcenter.org/"} Hitchcock Center for the Environment
                %li
                  %h4
                    %a{:href => "https://sites.google.com/site/susannahlerman/"} Dr. Susannah Lerman,
                    %span   UMass Amherst/Neighbourhood Nestwatch Project

    %br
    %br
    %br
    %br

    = flash_messages
    
    = yield :before_content

    - if content_for?(:container_content)
      .container
        =  yield(:container_content)
    - else
      = content_for?(:content) ? yield(:content) : yield

    = yield :after_content

    = include_chartbeat
    = include_mixpanel_guid
    %footer
      %img.nsf-logo.pull-left{:alt => "NSF Logo", :src => "images/nsf1.jpg"}/
      %p.pull-left.col-xs-8.col-sm-6 This project is supported by a grant from the National Science Foundation
      %a.btn.btn-primary.btn-top.pull-right{:href => "#top"}
        %span>

        Return To Top
/ col-xs-2 col-sm-6